body {
	background-color: rgb(172, 168, 168);
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70vh;
	font-family: "Pixelify Sans", monospace;
	font-size: 18px;
}

.logBtn {
	margin: 10px;
}

button,
input {
  font-family: inherit;
	font-size: inherit;
}

#backBtn, #registerBtn, #logoutBtn, #uploadBtn{
	display: inline-block;
	margin: 10px;
}

#imagesDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px; 
  padding: 16px;
}

#imagesDiv img {
  width: 350px;
  aspect-ratio: 1 / 1; 
  object-fit: cover;   
  border-radius: 8px;
  background-color: #eee;
}