body {
	background-color: rgb(172, 168, 168);
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70vh;
	font-family: "Pixelify Sans", monospace;
	font-size: 18px;
}

.logBtn {
	margin: 10px;
}

button,
input {
  font-family: inherit;
	font-size: inherit;
}

#backBtn, #registerBtn, #logoutBtn, #uploadBtn{
	display: inline-block;
	margin: 10px;
}

#imagesDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px; 
  padding: 16px;
	overflow: visible;
	cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#imagesDiv img {
  width: 350px;
  aspect-ratio: 1 / 1; 
  object-fit: cover;   
  border-radius: 8px;
  background-color: #eee;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#imagesDiv img:hover {
  transform: scale(1.08);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

#imageModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#imageModal.hidden {
  display: none;
}

.modal-content {
  background: #555454;
  padding: 16px;
  border-radius: 12px;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
}

#modalImage {
  max-width: 100%;
  max-height: 70vh;
  border-radius: 8px;
}

.modal-actions {
  margin-top: 12px;
  display: flex;
  gap: 8px;
  justify-content: center;
}