body {
	background-color: rgb(172, 168, 168);
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70vh;
	font-family: "Pixelify Sans", monospace;
	font-size: 18px;
}

.logBtn {
	margin: 10px;
}

button,
input {
  font-family: inherit;
	font-size: inherit;
}

#backBtn, #registerBtn {
	display: inline-block;
	margin: 10px;
}